body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 248);
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5%;
  }

  #header {
    margin-bottom: 5%;
  }

  #nav {
    float: right;
  }

  #navText {
    text-align: right;
    font-size: 1em;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  img {
    border-radius: 5%;
  }

  p {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  #contentImg {
    margin-left: 5%;
  }

  .row {
    display: flex;
  }

  .column {
    float: right;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }