body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 248);
  text-align: center;
  margin-left: 5%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-size: 1.5em;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}